
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">

    <div class="iconDiv">
      <img src="assets/imgs/icon.png" alt="" class="icon">
    </div>
    <div class="form_div">
      <ion-label class="main_head"> {{util.getString('Reset Password')}} </ion-label>
      <div *ngIf="div_type === 1">
        <ion-input type="email" [placeholder]="util.getString('Email')" [(ngModel)]="email">
          <ion-icon name="mail" slot="icon-only"></ion-icon>
        </ion-input>

        <ion-button expand="block" [disabled]="loggedIn" (click)="sendOTP()">
          <span *ngIf="!loggedIn"> {{util.getString('Send OTP')}} </span>
          <ion-spinner name="circular" *ngIf="loggedIn"></ion-spinner>
        </ion-button>
      </div>

      <div *ngIf="div_type === 2">
        <ion-input type="number" [placeholder]="util.getString('OTP')" [(ngModel)]="otp">
          <ion-icon name="key" slot="icon-only"></ion-icon>
        </ion-input>

        <ion-button expand="block" [disabled]="loggedIn" (click)="verifyOTP()">
          <span *ngIf="!loggedIn"> {{util.getString('Verify OTP')}} </span>
          <ion-spinner name="circular" *ngIf="loggedIn"></ion-spinner>
        </ion-button>
      </div>

      <div *ngIf="div_type === 3">
        <ion-input type="password" [placeholder]="util.getString('New Password')" [(ngModel)]="password">
          <ion-icon name="key" slot="icon-only"></ion-icon>
        </ion-input>
        <ion-input type="password" [placeholder]="util.getString('Confirm Password')" [(ngModel)]="repass">
          <ion-icon name="key" slot="icon-only"></ion-icon>
        </ion-input>

        <ion-button expand="block" [disabled]="loggedIn" (click)="sendEmail()">
          <span *ngIf="!loggedIn"> {{util.getString('Reset Password')}} </span>
          <ion-spinner name="circular" *ngIf="loggedIn"></ion-spinner>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>