
<ion-content>
  <div class="main_content_div">

    <div class="iconDiv">
      <img src="assets/imgs/icon.png" alt="" class="icon">
    </div>
    <div class="form_div">
      <ion-label class="main_head"> {{util.getString('Sign in')}} </ion-label>
      <ion-input type="email" [placeholder]="util.getString('Email')" [(ngModel)]="email">
        <ion-icon name="mail" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input type="password" [placeholder]="util.getString('Password')" [(ngModel)]="password">
        <ion-icon name="key" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-label class="forgot" *ngIf="!loggedIn" (click)="reset()"> {{util.getString('Forgot Password ?')}}
      </ion-label>
      <ion-button expand="block" [disabled]="loggedIn" (click)="login()">
        <span *ngIf="!loggedIn"> {{util.getString('SIGN IN')}} </span>
        <ion-spinner name="circular" *ngIf="W"></ion-spinner>
      </ion-button>

      <ion-label class="register" *ngIf="!loggedIn" (click)="create()"> {{util.getString('Register As Driver ?')}}
      </ion-label>
    </div>
  </div>
</ion-content>